<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>后台管理系统</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script>
    var script = document.createElement('script')
    script.src = 'https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js'
    document.head.appendChild(script)
    script.onload = function() {
      new VConsole()
    }
  </script>
  <script src="https://open.work.weixin.qq.com/wwopen/js/jwxwork-1.0.0.js"></script>
</head>
<body>
<div id="app">
  <button id="s1">选中选项1</button>
  <button id="s2">选中选项2</button>
  <div id="c1"></div>

  <img src="https://zhny-test-user.oss-cn-beijing.aliyuncs.com/media/39mjRtsNA_4Si6e8GSTIFK02yMJ2MoAyn76mAFd3qcDw6DsGgOMJICf7v1bJr1KMH/test.jpg?Expires=1676354544&OSSAccessKeyId=LTAI5tNtYjnRkEwD5AngyVuf&Signature=M%2FgW2dt%2Bf8j5NUUAb41N7XUQDVE%3D">
</div>
<script>
  var app = {
    corpId: 'wwc50cae798792fb0b',
    agentId: '3010040'
  }

  function logInDiv(s) {
    document.getElementById('c1').innerHTML = document.getElementById('c1').innerHTML + '<br>' + s
  }

  $.ajax({
    type: 'GET',
    async: false,
    url: 'https://zhb-tripartite.smallyoung.cn/qy/oa/getJsapiSignature',
    dataType: 'json',
    data: {
      qiYeWechatApplication: 'approval',
      url: window.location.href
    },
    success: function(result) {
      var data = result.data
      console.log('data', data)
      console.log(wx)
      wx.config({
        beta: true,// 必须这么写，否则wx.invoke调用形式的jsapi会有问题
        debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: app.corpId, // 必填，企业微信的corpID
        timestamp: data.timestamp, // 必填，生成签名的时间戳
        nonceStr: data.nonceStr, // 必填，生成签名的随机串
        signature: data.signature,// 必填，签名，见 附录-JS-SDK使用权限签名算法
        jsApiList: ['agentConfig', 'saveApprovalSelectedItems', 'getApprovalSelectedItems']// 必填，需要使用的JS接口列表，凡是要调用的接口都需要传进来
      })
      wx.ready(function() {
        $.ajax({
          type: 'GET',
          async: false,
          url: 'https://zhb-tripartite.smallyoung.cn/qy/oa/getJsapiSignature4Agent',
          dataType: 'json',
          data: {
            qiYeWechatApplication: 'approval',
            url: window.location.href
          },
          success: function(res2) {
            wx.agentConfig({
              corpid: app.corpId, // 必填，企业微信的corpid，必须与当前登录的企业一致
              agentid: app.agentId, // 必填，企业微信的应用id （e.g. 1000247）
              timestamp: res2.data.timestamp, // 必填，生成签名的时间戳
              nonceStr: res2.data.nonceStr, // 必填，生成签名的随机串
              signature: res2.data.signature,// 必填，签名，见附录-JS-SDK使用权限签名算法
              jsApiList: ['selectExternalContact', 'saveApprovalSelectedItems', 'getApprovalSelectedItems'], //必填，传入需要使用的接口名称
              success: function(res) {
                // 回调
                logInDiv('agentConfig, success')
              },
              fail: function(res) {
                logInDiv('agentConfig, fail')
                logInDiv(JSON.stringify(res))
                if (res.errMsg.indexOf('function not exist') > -1) {
                  alert('版本过低请升级')
                }
              }
            })
          }
        })
      })
    }
  })

  function GetQueryString(name) {
    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)')
    var r = window.location.search.substr(1).match(reg)
    if (r != null) return unescape(r[2])
    return null
  }

  logInDiv(window.location.href)

  document.getElementById('s1').addEventListener('click', () => {
    logInDiv('click')
    wx.invoke('saveApprovalSelectedItems', {
      'key': GetQueryString('key'), // 字符串，从 URL 中获取到的 key
      'selectedData': JSON.stringify([{
        key: '1',
        value: '选项1'
      }]) // 字符串，选中的选项格式化为 JSON 字符串，格式见下文
    }, (res) => {
      logInDiv(JSON.stringify(res))
      if (res.err_msg === 'saveApprovalSelectedItems:ok') {
        // 保存成功
        wx.closeWindow()
      }
    })
  })
  document.getElementById('s2').addEventListener('click', () => {
    wx.invoke('saveApprovalSelectedItems', {
      'key': GetQueryString('key'), // 字符串，从 URL 中获取到的 key
      'selectedData': JSON.stringify([{
        key: '2',
        value: '选项2'
      }]) // 字符串，选中的选项格式化为 JSON 字符串，格式见下文
    }, (res) => {
      if (res.err_msg === 'saveApprovalSelectedItems:ok') {
        // 保存成功
        wx.closeWindow()
      }
    })
  })
</script>
</body>
</html>
